[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
authlib = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
"psycopg2-binary" = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.6"
